-----BEGIN CERTIFICATE-----
MIIF7TCCA9WgAwIBAgIISU8lQ5c5b5cwDQYJKoZIhvcNAQELBQAwgYExCzAJBgNV
BAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSwwKgYDVQQDEyNBcHBsZSBXb3Js
ZHdpZGUgRGV2ZWxvcGVyIFJlbGF0aW9uczEXMBUGA1UECxMOQXBwbGUgQ0EgLSBH
MzAeFw0yMDA2MTcxNzE5MjNaFw0yNTA3MTcxNzE5MjNaMIGxMSgwJgYKCZImiZPy
LGQBAQwYcGFzcy5jb20uZXhhbXBsZS5mdWVscGFzczETMBEGA1UECwwKVEVBTUlE
MTIzNDEQMA4GA1UEAwwHUGFzc2VzMRswGQYDVQQKDBJFeGFtcGxlIE9yZ2FuaXph
dGlvbjELMAkGA1UEBhMCVVMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
dG8rGmx2G0C6sL2R9bW/lQ6k/9xX6o0w4w2w2w== (This is a dummy Pass Type ID Certificate Example)
-----END CERTIFICATE-----
