-----BEGIN CERTIFICATE-----
MIIEuzCCA6OgAwIBAgIQGr52uVo1spFDypG5NVcl5jANBgkqhkiG9w0BAQsFADBY
MQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEsMCoGA1UEAxMjQXBw
bGUgV29ybGR3aWRlIERldmVsb3BlciBSZWxhdGlvbnMwHhcNMTUwMjA3MjIwMDU2
WhcNMjMwMjA3MjIwMDU2WjBYMQswCQYDVQQGEwJVUzETMBEGA1UEChMKQXBwbGUg
SW5jLjEsMCoGA1UEAxMjQXBwbGUgV29ybGR3aWRlIERldmVsb3BlciBSZWxhdGlv
bnMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKo9VTLv+oE1wFMB3C
dG8rGmx2G0C6sL2R9bW/lQ6k/9xX6o0w4w2w2w== (This is a dummy Apple WWDR Certificate Example)
-----END CERTIFICATE-----
